/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


/*------------------------------------------------------------*/
:root {
    --bg-color: #F9F4FF;
    --btn: #E1c9FF;
    --active-btn: #E7D4FF ;
    --hover-btn: #DBBEFF;
    --link: #7406fb;
}


body {
    background-color: var(--bg-color);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root {
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

.page__auth {

}

.auth {
    
}

.auth__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__form {
    margin: 80px 0;
    padding: 20px;
    position: relative;
    width: 400px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    row-gap: 40px;
}
.login {
}
.auth__header {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.login__form {
    
}
.form {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.auth__inputBlock {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.auth__errorMessage {
    color: red;
    font-size: 18px;
}

.auth__label {
    font-size: 18px;
}
.auth__input {
    background-color: #FFF;
    box-shadow: 0 0 2px 0 rgb(105, 103, 103);
    padding: 10px 25px;
    border-radius: 50px;
}

#inputPhoto {
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    font-weight: 400;
}

.login__regLink {
    align-self: flex-end;

}
a.auth__link {
    color: var(--link);
}

.button {
    background-color: var(--btn);
    border-radius: 50px;
}

.login__submit {

    padding: 20px 40px;
    background-color: var(--btn);
    transition: .4s;
    font-size: 20px;
}
.login__submit:hover {
    background-color: var(--hover-btn);
}

.login__submit:active {
    background-color: var(--active-btn);
}

.login__submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button {
}

.registration {
    row-gap: 30px;
}

.banner-wrapper {
    width: 100%;
    height:80px;
    overflow: auto;
}

.banner {
    height: 100%;
    width: auto;
}

.auth__inputBlock__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

.registration__addMember {
    padding: 5px 15px;
}

.addMember__exit {
    width: 18px;
    height: 18px;
}

.photo-wrapper {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px var(--link);
}

.photo-wrapper img{
    width: 100%;
    height: 100%;
}

.auth__textArea {
    font-family: 'Times New Roman', Times, serif;
    font-weight:400;
    width: 100%;
    height: 200px;
    resize: none;
    outline: none;
    box-shadow: 0 0 2px 0 rgb(105, 103, 103);
    padding: 10px 25px;
    border-radius: 20px;
}

.auth__textArea:focus{
    outline: none;
}


.members {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: space-between;
}

.members__member {
    position: relative;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: var(--hover-btn);
    display: flex;
    align-items: center;
    column-gap: 100px;
}

.members__delete {
    position: absolute;
    right: 15px;
    width: 15px;
    height: 15px;
}

.members__delete img{
    
}

